.heading {
  font-size: var(--text-lg);
}

.ingredients {
  margin-top: var(--space-6);
}

.ingredient {
  padding: var(--space-1) 0;
}

.container {
  composes: container from '../tag-pill/index.module.css';
}

.btn {
  composes: pill from '../tag-pill/index.module.css';
}
