.header {
  padding: var(--space-5) var(--space-4) var(--space-6);
  background: var(--color-primary);
  position: relative;
  overflow: hidden;
}

.header .title {
  font-family: var(--font-heading);
  -webkit-font-smoothing: antialiased;
  letter-spacing: -0.05em;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  color: white;
  font-size: var(--text-xl);
}

@media (min-width: 500px) {
  .header .title {
    font-size: var(--text-display);
  }
}

.bold {
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a, .logout {
  color: white;
  text-decoration: none;
  margin: 0 var(--space-2);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.bigShopIcon {
  fill: none;
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 5px;
  width: 70px;
}

@media (min-width: 500px) {
  .bigShopIcon {
    width: 120px;
  }
}

a.activeLink {
  border-bottom: 1px solid white;
  padding-bottom: 3px;
}
