.singleColumn {
  width: 100%;
  padding: var(--space-4)
}

.grid {
  display: grid;
}

.container {
  background-color: white;
  border-radius: var(--radius-md);
}

.mainContentContainer {
  background-color: white;
  padding: var(--space-4);
  position: relative;
}
.fullHeight {
  min-height: 100vh;
}

.sideBarContainer {
  padding-top: var(--space-4);
}

@media (min-width: 800px) {
  .singleColumn {
    max-width: 800px;
    margin: 0 auto;
  }
  .container {
    background-color: transparent;
    max-width: 1200px;
    margin: 0 auto;
  }
  .grid {
    grid-template-columns: 1fr 280px;
  }
}
