.title {
  font-size: 36px;
  margin: 10px 0;
  width: 85%;
}

.topRightButton {
  position: absolute;
  top: 30px;
  right: 20px;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.fileInput {
  display: none;
}

.photoIcon {
  width: 20px;
  height: 20px;
}
.photoIcon path {
  fill: white;
}

.error {
  color: var(--pink);
  font-size: 14px;
  margin-top: 5px;
  border: 1px solid var(--pink);
  padding: 5px;
  border-radius: 5px;
}
