.panel {
  background: white;
  padding: var(--space-3);
}
@media (min-width: 800px) {
  .panel {
    box-shadow: inset 4px 0 6px -6px rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #dfceeb;
    border-top: 1px solid #dfceeb;
  }
}

.recipeList {
  margin-top: var(--space-2);
}

.filterRow {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--space-2);
}
