.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-bottom: var(--space-4);
}

.list a {
  background: white;
  color: var(--gray-700);
  text-decoration: none;
  padding: var(--space-4);
  display: block;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-card);
  transition: all ease 0.1s
}

.list a:visited {
  color: var(--gray-700);
}

.list a:hover {
  color: white;
  background-color: var(--pink);
}

.button {
  border: 0;
  background-color: var(--green);
  color: white;
  padding: 15px 40px;
  font-size: var(--text-base);
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}

.button:hover {
  color: white;
  background-color: var(--dark-green);
}
