.form {
  margin: 30px 0 200px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.checkboxContainer label {
  display: inline;
  margin: 0 0 0 10px;
  font-size: 14px;
  font-weight: normal;
}

@media (min-width: 500px) {
  .form label {
    font-size: 18px;
  }
}

.metaGroup {
  margin-bottom: 30px;
}

.ingredientsGroup {
  margin-bottom: 30px;
}

.unmatchedIngredients {
  margin-bottom: 20px;
  border: 3px solid var(--red);
  padding: 20px;
  border-radius: 7px;
  padding: 20px;
}

.unmatchedIngredients li {
  list-style: disc;
  margin-left: 20px;
}

.unmatchedHeading {
  font-weight: bold;
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

.form input:not([type='checkbox']), .form textarea {
  width: 100%;
  padding: 8px 0;
  border: none;
  outline: none;
  border-bottom: 1px solid #d7b1f3;
  font-size: 16px;
  font-family: inherit;
}

.form input:focus, .form textarea:focus {
  border-bottom: 2px solid var(--purple);
}

.form input::placeholder, .form textarea::placeholder {
  color: #d2d0d0;
  -webkit-font-smoothing: antialiased;
}

.ingredientGroup {
  display: flex;
}

.ingredientGroup div {
  margin-right: 10px;
}

.ingredientGroup div:last-child {
  margin-right: 0;
}

.ingredientUnit {
  height: 39px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #d7b1f3;
  -webkit-appearance: none;
  text-align: left;
}

.group {
  margin-bottom: 30px;
}

.ingredientGroup {
  margin-bottom: 8px;
}

.ingredientName {
  flex: 2;
}

.ingredientQuantity {
  flex: 1;
}

.unit {
  flex: 1;
  min-width: 70px;
}

@media (min-width: 500px) {
  .ingredientName {
    flex: 1;
  }
  .ingredientQuantity {
    flex: none;
  }
  .unit {
    flex: none;
    min-width: 80px;
  }
}

.trash {
  color: var(--pink);
  font-size: 24px;
  border: none;
  background-color: transparent;
  padding: 5px;
  line-height: 1;
}

.loading {
  background-color: #94c3ae;
}

.loadingIngredients {
  margin-left: 10px;
}

.stored {
  display: inline-block;
  margin-left: 30px;
  color: #28c17b;
  font-size: 18px;
}

.srOnly {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.deleteColumn {
  min-width: 18px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.heading {
  font-weight: bold;
}

.addAnotherRecipe {
  margin-top: 20px;
  text-decoration: none;
  background-color: var(--purple);
}

.required {
  color: var(--pink);
  font-size: 80%;
}

.tagContainer {
  display: flex;
  align-items: baseline;
}

.tagLabel {
  margin-left: 10px;
  font-weight: normal;
  font-size: 16px;
}

.addIngredientSection {
  background-color: var(--light-purple);
  padding: 20px;
  border-radius: 7px;
  margin-bottom: 20px;
}

.addIngredientSection input {
  background-color: var(--light-purple);
}

.addIngredientGroup {
  display: flex;
}

.addIngredientTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.addIngredientInput {
  flex-grow: 1;
}

.addIngredientButton {
  margin-left: 20px;
}
