.shoppingListContainer {
  background-color: white;
  padding: 20px;
  border-radius: 6px 6px 0 0;
}

.shoppingList ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.shoppingList {
  padding: 0px;
}

.heading {
  font-size: 30px;
  /* todo: new serif font family */
}

.item {
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid rgba(235, 112, 164, 0.5);
  padding: 15px 0;
}

.item:last-child {
  border-bottom: none;
}

.itemName {
  flex: 1;
  text-transform: capitalize;
}

.itemUnit {
  margin-left: 10px;
}

.extraListLabel {
  display: block;
  margin: 20px 0 10px;
  font-weight: bold;
}

.extraListContainer {
  display: flex;
  margin-bottom: 20px;
}

.extraListInput {
  flex: 1;
  padding: 15px 5px;
  border: 1px solid rgba(235, 112, 164, 0.1);
  margin-right: 10px;
}

.emptyList {
  margin-top: 20px;
}

.button {
  border: 0;
  background-color: var(--red);
  color: white;
  padding: 15px 40px;
  font-size: 16px;
  cursor: pointer;
}

.clearList {
  margin-top: 40px;
}
