.container {
  composes: container from '../tag-pill/index.module.css';
}

.overflowing {
  composes: overflowing from '../tag-pill/index.module.css';
}

.allPill {
  composes: pill from '../tag-pill/index.module.css';
  border-color: var(--color-primary-border);
}

.selected {
  composes: selected from '../tag-pill/index.module.css';
  --tag-color: var(--color-primary);
}
