.tabButtons button {
  background: none;
  border: none;
  font-size: var(--text-base);
  width: 50%;
  padding: var(--space-4) 0;
  outline: none;
  cursor: pointer;
  color: black;
}

.tabButtons button:first-child {
  border-right: 1px solid var(--color-primary-soft);
}

.tabButtons button:not(:disabled) {
  color: var(--color-primary-muted);
  border-bottom: 1px solid var(--color-primary-soft);
}

.landingPage {
  display: flex;
  align-items: center;
  flex-direction: column;

  max-width: 600px;
  margin: 0 auto;
}

.landingHeading {
  font-size: var(--text-2xl);
  text-align: center;
  margin-bottom: 0;
}

.landingSubHeading {
  font-size: var(--text-md);
  text-align: center;
  line-height: 1.7;
  margin-bottom: var(--space-6);
}
