:root {
  --purple: #b870eb;
  --pink: #eb70a4;
  --yellow: #ebd270;
  --green: #a4eb70;
  --dark-green: #8bd455;
  --darker-green: #42c540;
  --light-purple: #f0ebf4;
  --red: #eb7070;
  --blue: #2897c1;
}

@font-face {
  font-family: 'quicksand';
  src: url('/static/fonts/quicksand-variablefont_wght-webfont.woff2') format('woff2'), url('/static/fonts/quicksand-variablefont_wght-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand';
  src: url('/static/fonts/quicksand-bold-webfont.woff2') format('woff2'), url('/static/fonts/quicksand-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand';
  src: url('/static/fonts/quicksand-regular-webfont.woff2') format('woff2'), url('/static/fonts/quicksand-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('/static/fonts/OpenSans-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('/static/fonts/OpenSans-Bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'opensans', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  background: linear-gradient(180deg, var(--purple) 0%, var(--purple) 220px, var(--light-purple) 221px, var(--light-purple) 100%) no-repeat;
  -webkit-font-smoothing: antialiased;
}

button {
  font-family: 'opensans', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4 {
  font-family: quicksand;
  font-weight: normal;
}

* {
  box-sizing: border-box;
}

input, select {
  font-family: inherit;
  font-size: 16px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.typeahead {
  position: relative;
}

.typeahead input {
  text-transform: capitalize;
  font-family: inherit;
}

.typeahead-selector {
  position: absolute;
  top: 100%;
  width: 100%;
  margin: 0;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.typeahead-selector li {
  padding: 15px 10px;
  background: #e7eaea;
  color: #5a5656;
}

.typeahead-selector li:hover {
  background: var(--pink);
  color: white;
}

.typeahead-selector li a {
  color: inherit;
  text-decoration: none;
}
