.module {
  margin-bottom: var(--space-5);
}

.addButton {
  background: var(--color-primary);
  border: none;
  color: white;
  padding: 0 var(--space-2);
  height: 30px;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.hidden {
  display: none;
}

.extraListContainer {
  display: flex;
  margin-bottom: var(--space-4);
}

@media( min-width: 800px) {
  .sideBarContainer {
    margin-top: 70px;
  }
  .module {
    margin-bottom: 50px;
  }
}
