.module {
  margin-bottom: 30px;
}

.addButton {
  background: var(--purple);
  border: none;
  color: white;
  padding: 0 10px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.extraListContainer {
  display: flex;
  margin-bottom: 20px;
}

@media( min-width: 800px) {
  .sideBarContainer {
    margin-top: 70px;
  }
  .module {
    margin-bottom: 50px;
  }
}
