.module {
  margin-bottom: var(--space-4);
}

.panel {
  background: white;
  padding: var(--space-3);
}

@media (min-width: 800px) {
  .panel {
    box-shadow: inset 4px 0 6px -6px rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid #dfceeb;
      border-top: 1px solid #dfceeb;
  }
}

.addButton {
  background: var(--color-primary);
  border: none;
  color: white;
  padding: 0 var(--space-2);
  height: 30px;
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.hidden {
  display: none;
}

.extraListContainer {
  display: flex;
}

@media( min-width: 800px) {
  .sideBarContainer {
    margin-top: 70px;
  }
}
